<div style="margin-top: 70px">
  <div class="container">
    <div class="row" *ngFor="let moduleGroup of groupedModules">
      <div class="col-12 header">
        <p>{{ moduleGroup.header }}</p>
      </div>
      <div class="col-12 description" *ngIf="moduleGroup.description">
        <p>{{ moduleGroup.description }}</p>
      </div>
      <div
        style="margin-bottom: 15px"
        class="col-3"
        *ngFor="
          let userModule of moduleGroup['items']
            | filterItems: moduleGroup['id']:3:shouldSlice
        "
      >
        <img [src]="userModule.icon" height="50" width="auto" />
        <a
          [href]="userModule.defaultAction"
          *ngIf="userModule.displayName == ''"
          >{{ userModule.name }}</a
        >

        <a
          [href]="userModule.defaultAction"
          *ngIf="!userModule.displayName == ''"
          >{{ userModule.displayName }}</a
        >
        <p>{{ userModule.description }}</p>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-light btn-sm"
      *ngIf="!shouldSlice && groupedModules.length > 0"
      (click)="showMore()"
    >
      show less
    </button>
    <button
      type="button"
      class="btn btn-light btn-sm"
      *ngIf="shouldSlice && groupedModules.length > 0"
      (click)="showMore()"
    >
      show more
    </button>
  </div>
</div>
