<div style="margin-top: 70px">
  <div class="container-fluid">
    <div class="row" *ngFor="let moduleGroup of groupedModules">
      <div class="col-12 header">
        <p>{{ moduleGroup.header }}</p>
      </div>
      <div class="col-12 description" *ngIf="moduleGroup.description">
        <p>{{ moduleGroup.description }}</p>
      </div>
      <div
        style="margin-bottom: 15px"
        class="col-3"
        *ngFor="
          let userModule of moduleGroup['items']
            | filterItems: moduleGroup['id']:3:shouldSlice
        "
      >
        <div class="card row" href="userModule.defaultAction">
          <div class="col-3" style="">
            <img
              class="text-left"
              [src]="userModule.icon"
              alt=".."
              height="50"
              width="auto"
            />
          </div>
          <div class="col-9" style="">
            <h5
              *ngIf="userModule.displayName == ''"
              style="color: #2C2D30; letter-spacing: 0.07em; font-weight: 700; font-size: 0.9em;"
            >
              {{ userModule.name }}
            </h5>
            <h5
              *ngIf="!userModule.displayName == ''"
              style="color: #2C2D30; letter-spacing: 0.07em; font-weight: 700; font-size: 0.9em;"
            >
              {{ userModule.displayName }}
            </h5>
            <p style="color: #3e5184">{{ userModule.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-light btn-sm"
      *ngIf="!shouldSlice && groupedModules.length > 0"
      (click)="showMore()"
    >
      show less
    </button>
    <button
      type="button"
      class="btn btn-light btn-sm"
      *ngIf="shouldSlice && groupedModules.length > 0"
      (click)="showMore()"
    >
      show more
    </button>
  </div>
</div>
