.example-button-row button {
  margin-right: 5px;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.description {
  /* border-bottom: 1px solid #95c4e2; */
}

.header {
  background-color: #6196be;
  padding: 5px;
  color: #ffffff;
  margin-bottom: 8px;
}
.header p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem !important;
}
